
#landing {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */ url(/images/GCar.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#projects {
    background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */ url(/images/projects/Background.jpg);
  background-size: cover;
  background-attachment: fixed;  
}

#landing h1 {
  font-family: "Satisfy", cursive;
  font-size: 4em;
}

h6 {
  text-align: center;
}

.experience-container {
  border-left: 3px solid black;
  padding-left: 20px;
  position: relative;
}

.experience-container::before {
  position: absolute;
  left: -10px;
  top: 0;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: rgb(248, 249, 250);
}

#testimonials {
    background: linear-gradient(
      rgba(66, 57, 57, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
  url(/images/testimonials/guitar2.jpg);
  background-size: cover;
  background-attachment:scroll;
  overflow-x: hidden;
  }

  #test-img {
    justify-content: center;
  }
  
  #text-par {
    background-color: black;
  }

  [data-aos] {
    pointer-events: none;
  }
  .aos-animate {
    pointer-events: auto;
  }
  .aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
  }

  .navbar-brand{
    background-image: url(../images/MJ.webp);
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
  }
  
  .navbar-toggler{
    color: white;
  }
  .navbar {
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 20;
  }

  .navbar a {
    color: silver;
    margin: 0px 20px;
    font-size: 1.3em;
  }
  
  .navbar a:hover {
    text-decoration:red
  }

  #pro-img {
    height: 100%;
    width: 100%;
  }

  #skill-img {
    height: 100%;
    width: 100%;
  }


  .button2:hover {
    background-color: turquoise;
    color: white;
  }

  .button2 {
      background-color: white;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

.card7 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title7 {
  color: black;
  font-size: 18px;
  text-align: center;
}


.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.button7:hover, a:hover {
  opacity: 0.7;
}

.contact-img {
  height: 100%;
  width: 100%;
}

.bg-1 {
  background-color: white;
  color: black;
}

#skillsicon {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}